.logos {
    display: block;
    position: relative;
    left: 0px;
    top: 27vh;
    width: 100%;
    height: 39vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/logo.svg);
    z-index: 1051;
    background-size: 160px;
    opacity: 0.8;
    /* mix-blend-mode: lighten; */
    color: #bbcadb;
    text-align: center;
    padding-top: 27vh;
    font-size: 14px;
}

.custom-btn {
    cursor: pointer;
}

.change-btn:hover {
    background-color: lightgray;
}

.clickable {
    cursor: pointer;
}

.custom-btn:hover {
    color: orange;
}

.custom-finish-btn {
    height: 60px;
    width: 200px;
    background-color: rgb(83, 78, 78);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.custom-pause-btn {
    height: 60px;
    width: 200px;
    background-color: rgb(212, 31, 31);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.custom-resume-btn {
    height: 60px;
    width: 200px;
    background-color: rgb(0, 255, 170);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.custom-box:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

.counter-screen {
    min-height: auto;
}

.box {
    padding: 10px;
}

.custom-body {
    background: linear-gradient(13deg,
            rgba(47, 71, 132, 1) 59%,
            rgba(87, 140, 180, 1) 100%);
    
}