<!----------Loading------------>

<!----------Counter All------------>
<div class="counter-Page flex py-4" *ngIf="isReady">
    <!----------sideMenu------------>
    <app-slide-menu [currentTab]="'Settings'"></app-slide-menu>
    <!----------sideMenu------------>
    <div class="contents">
        <app-topbar></app-topbar>
        <div class="container-fluid">
            <span class="titlebox"> Level Matrix </span>
            <div class="row g-3 mt-2 mb-3">
                <div class="col-xxl-4 col-xl-6 col-sm-6">
                    <app-normal-config [type]="1" [config]="beginnersConfig"></app-normal-config>
                </div>
                <div class="col-xxl-4 col-xl-6 col-sm-6">
                    <app-normal-config [type]="2" [config]="intermidateConfig"></app-normal-config>
                </div>
                <div class="col-xxl-4 col-xl-6 col-sm-6">
                    <app-normal-config [type]="3" [config]="profissionalConfig"></app-normal-config>
                </div>
            </div>
            <div class="row g-3 mt-2 mb-3">
                <app-skeet-conffig [type]="4" [config]="competitionConfig"
                    class="custom-box"></app-skeet-conffig>
            </div>
        </div>
    </div>
</div>