<!----------Loading------------>

<!----------Counter All------------>
<div class="counter-Page flex py-4" *ngIf="isReady">
    <!----------sideMenu------------>
    <app-slide-menu [currentTab]="'Settings'"></app-slide-menu>
    <!----------sideMenu------------>
    <div class="contents">
        <app-topbar></app-topbar>
        <div class="container-fluid">
            <span class="titlebox"> Level Matrix </span>
            <div class="row g-3 mt-2 mb-3">
                <div class="col-xxl-4 col-xl-6 col-sm-6" *ngFor="let config of normalConfigs; let i = index">
                    <app-normal-config [type]="config.Type" [config]="config"></app-normal-config>
                </div>
                <div class="col-xxl-4 col-xl-6 col-sm-6">
                    <button mat-fab class="custom-btn" aria-label="Example icon button with a home icon"
                        (click)="addLevelDynamic()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row g-3 mt-2 mb-3">
                <app-competition-config [type]="4" [config]="competitionConfig" class="custom-box"></app-competition-config>
            </div>
        </div>
    </div>
</div>