/* ticket-creation.component.css */

.ticket-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-radio-group {
    display: flex;
    flex-direction: column;
  }
  