<span class="titlebox  mr-auto"> Shooting Lane Availability </span>
<div class="forms  mr-t-6 views size">
    <div class="row g-3">
        <div class="topStage">
            Shooting Lane Availability
        </div>
        <div class="select-stage ">
            <ul>
                <li *ngFor="let lane of lanes">
                    <!-- <span class="waitNo">{{lane.RemainingMinuts}} M</span> -->

                    <button (click)="SelectLane(lane.ID)" *ngIf="lane.isReserved">
                        <span class="boxStage notAvilable"> {{lane.Number}}
                        </span>
                    </button>
                    <button (click)="SelectLane(lane.ID)" *ngIf="lane.isSelected">
                        <span class="boxStage your selected"> {{lane.Number}}
                        </span>
                    </button>
                    <button (click)="SelectLane(lane.ID)" *ngIf="!lane.isReserved && !lane.isSelected">
                        <span class="boxStage itsAvilable"> {{lane.Number}}
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="legendStage">
            <ul>
                <li class="avilablenote"> Avilable </li>
                <li class="notAvilable"> not Avilable </li>
                <li class="yourselected"> your Select </li>
            </ul>
        </div>
    </div>
</div>