<div id="pre-loader" *ngIf="!isPageReady">
    <div id="loader-logo">
        loading ...
        <div class="loading-page">

        </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!----------Counter All------------>

<div class="counter-Page flex py-4">

    <!----------sideMenu------------>
    <nav class="sideMenu">

        <span class="logo"> <a href="#"> </a> </span>
        <ul>
            <li> <a href="#" [routerLink]="['/home']" class="active"> <i class="dashboardIcon"> </i> <span> Dashboard
                    </span> </a> </li>

            <li> <a href="#" [routerLink]="['/user']" class=""> <i class="userIcon"> </i> <span> User Profile </span>
                </a> </li>

            <li> <a href="#" class=""> <i class="receptionistIcon"> </i> <span> Receptionist </span> </a> </li>

            <li> <a href="#" class=""> <i class="ticketsIcon"> </i> <span> Tickets </span> </a> </li>

            <li> <a href="#" class=""> <i class="settingIcon"> </i> <span> Setting</span> </a> </li>
        </ul>
    </nav>
    <!----------sideMenu------------>
    <div class="contents">
        <div class="top-bar">
            <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"> Application</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
                </ol>
            </nav>
            <div class="intro-x relative sm-6">
                <div class="search   sm:block">
                    <input type="text" class="search__input form-control border-transparent" placeholder="Search...">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        icon-name="search" data-lucide="search"
                        class="lucide lucide-search search__icon dark:text-slate-500">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <div class="search-result">
                    <div class="search-result__content">
                        <div class="search-result__content__title">Users</div>
                        <div class="mb-5">
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="SG" class="rounded-full" src="assets/img/profile-8.jpg">
                                </div>
                                <div class="ml-3">Kevin Spacey</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">
                                    kevinspacey@left4code.com</div>
                            </a>
                            <a href="" class="flex items-center mt-2">
                                <div class="w-8 h-8 image-fit">
                                    <img alt="SG" class="rounded-full" src="assets/img/profile-8.jpg">
                                </div>
                                <div class="ml-3">Johnny Depp</div>
                                <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">
                                    johnnydepp@left4code.com</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN: Notifications -->
            <div class="intro-x dropdown  w-6 h-8 sm-6">
                <div class="btn-group">
                    <a class=" btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu notificationBTN">
                        <li> <span class="notification-succsess"> <i class="far fa-check-circle"></i> 30 User in
                                Queue </span> </li>
                        <li> <span class="notification-info"> <i class="far fa-times-circle"></i> No avilable Stage
                            </span> </li>
                        <li> <span class="notification-Error"> <i class="far fa-times-circle"></i> System Down
                            </span> </li>
                    </ul>
                </div>
            </div>
            <!-- END: Notifications -->
            <div class="intro-x dropdown w-8 h-8 sm-6">
                <div class="btn-group">
                    <a class="userProfile btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="assets/img/profile-8.jpg">
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href="#"> Profile </a> </li>
                        <li> <a href="#"> Setting</a> </li>
                        <li> <a href="#"> LogOut </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-9 col-xl-12">
                    <span class="titlebox"> Summary </span>
                    <div class="row">
                        <div class="col-xxl-3 col-lg-3 col-md-3">
                            <div class="report-box zoom-in">
                                <div class="box p-3">
                                    <div class="values">{{numberOfUsers}}</div>
                                    <div class="titleSummary">Number of users</div>
                                    <div class="iconSummary users"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3">
                            <div class="report-box zoom-in">
                                <div class="box p-3">
                                    <div class="values"> <span class="fromV"> {{numberOfAvailableLanes}} </span>
                                        /{{numberOfLanes}}</div>
                                    <div class="titleSummary">Shooting Lane Availability</div>
                                    <div class="iconSummary shoterlane"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3">
                            <div class="report-box zoom-in">
                                <div class="box p-3">
                                    <div class="values avilCol">{{reservedLanes}}</div>
                                    <div class="titleSummary">Reserved Shooting Areas</div>
                                    <div class="iconSummary blockArea"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-3 col-md-3">
                            <div class="report-box zoom-in">
                                <div class="box p-3">
                                    <div class="values col-tickCol">{{numberOfTicket}}</div>
                                    <div class="titleSummary">Num of Tickets</div>
                                    <div class="iconSummary numOFTicket"> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-8 ">
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Type of Game </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box1chart" class="countsbox"> </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Level Selection </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box2chart" class="countsbox"> </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Sales Report </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box3chart" class="countsbox"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-8 ">
                        <div class="col-xxl-12 col-lg-12 col-md-12">
                            <span class="titlebox"> Players by today </span>
                            <app-users-list *ngIf="isPageReady" [data] ="players" [itemsPerPage] = 4 ></app-users-list>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xxl-12 col-xl-6 pl-3">
                                <span class="titlebox"> User Active - Per Day</span>
                                <div class="mt-2 ">
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Robert De Niro</div>
                                                <div class="text-slate-500 text-xs mt-0.5">17 January 2021</div>
                                            </div>
                                            <div class="text-success">+$70</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Kate Winslet</div>
                                                <div class="text-slate-500 text-xs mt-0.5">23 November 2022</div>
                                            </div>
                                            <div class="text-danger">-$211</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Angelina Jolie</div>
                                                <div class="text-slate-500 text-xs mt-0.5">11 February 2022</div>
                                            </div>
                                            <div class="text-danger">-$24</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Arnold Schwarzenegger</div>
                                                <div class="text-slate-500 text-xs mt-0.5">24 November 2021</div>
                                            </div>
                                            <div class="text-success">+$30</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Brad Pitt</div>
                                                <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                            </div>
                                            <div class="text-danger">-$44</div>
                                        </div>
                                    </div>
                                    <a href=""
                                        class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------topPOPUPS-setting----------->
<!-- Modal -->
<div class="modal fade" id="userProfile" tabindex="-1" aria-labelledby="euserProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content darks">
            <div class="modal-header">
                <h5 class="modal-title" id="userProfileLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-closeP" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-save">Save changes</button>
            </div>
        </div>
    </div>
</div>