<app-loader></app-loader>
<!----------Counter All------------>

<div class="counter-Page flex py-4">

    <!----------sideMenu------------>
    <app-slide-menu [currentTab]="'Home'"></app-slide-menu>
    <!----------sideMenu------------>
    <div class="contents">
        <app-topbar></app-topbar>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-9 col-xl-12">
                    <span class="titlebox"> Summary </span>
                    <app-summary-statistics></app-summary-statistics>
                    <div class="row mt-8 ">
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Type of Game </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box1chart" class="countsbox"> </div>
                            </div>

                        </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Level Selection </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box2chart" class="countsbox"> </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-lg-4 col-md-4">
                            <span class="titlebox"> Sales Report </span>
                            <div class="intro-y box p-3 mt-12">
                                <div id="box3chart" class="countsbox"> </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-8 ">
                        <div class="col-xxl-12 col-lg-12 col-md-12">
                            <span class="titlebox"> Players by today </span>
                            <app-table *ngIf="isPageReady" [data]="players" [itemsPerPage]="itemPerPage"></app-table>
                            <app-pagination *ngIf="isPageReady" [totalItems]="data.length" [currentPage]="1" (change)="updateItemPerPage($event)"></app-pagination>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xxl-12 col-xl-6 pl-3">
                                <span class="titlebox"> User Active - Per Day</span>
                                <div class="mt-2 ">
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Robert De Niro</div>
                                                <div class="text-slate-500 text-xs mt-0.5">17 January 2021</div>
                                            </div>
                                            <div class="text-success">+$70</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Kate Winslet</div>
                                                <div class="text-slate-500 text-xs mt-0.5">23 November 2022</div>
                                            </div>
                                            <div class="text-danger">-$211</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Angelina Jolie</div>
                                                <div class="text-slate-500 text-xs mt-0.5">11 February 2022</div>
                                            </div>
                                            <div class="text-danger">-$24</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Arnold Schwarzenegger</div>
                                                <div class="text-slate-500 text-xs mt-0.5">24 November 2021</div>
                                            </div>
                                            <div class="text-success">+$30</div>
                                        </div>
                                    </div>
                                    <div class="intro-x">
                                        <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                                <img alt="SG" src="assets/img/profile-8.jpg">
                                            </div>
                                            <div class="ml-4 mr-auto">
                                                <div class="font-medium">Brad Pitt</div>
                                                <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                            </div>
                                            <div class="text-danger">-$44</div>
                                        </div>
                                    </div>
                                    <a href=""
                                        class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------topPOPUPS-setting----------->
<!-- Modal -->
<div class="modal fade" id="userProfile" tabindex="-1" aria-labelledby="euserProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content darks">
            <div class="modal-header">
                <h5 class="modal-title" id="userProfileLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-closeP" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-save">Save changes</button>
            </div>
        </div>
    </div>
</div>