<!----------Loading------------>
<app-loader></app-loader>
<!----------Counter All------------>
<div class="counter-Page flex py-4">
    <!----------sideMenu------------>
    <app-slide-menu [currentTab]="'Reciption'"></app-slide-menu>
    <!----------sideMenu------------>
    <div class="contents" *ngIf="isReady">
        <app-topbar></app-topbar>
        <div class="container-fluid">
            <div class="row mt-8">
                <div class="searchUserID">
                    <h1> Check Player - Add phone Number</h1>
                    <form [formGroup]="form">
                        <div class="find-user">
                            <input type="text" class="" id="userIDno" (keyup)="onKeySearch($event)"
                                formControlName="mobileNumber" placeholder="+974 | xxx xxx xxx " value="" required="">
                            <span [ngClass]="isPlayerExists?'resultUser regitered':'resultUser new'"><button
                                    (click)="openCreateUserDialog()">{{btnCaption}}</button> </span>
                            <div class="loadingIcon postion1">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-8 ">
                <div class="col-xxl-8 col-xl-12">
                    <app-lanes [active]="false"></app-lanes>
                </div>
                <div class="col-xxl-4 col-xl-12">
                    <app-small-user-list [data]="data"></app-small-user-list>
                </div>
            </div>
        </div>
    </div>
</div>