
     <!----------Loading------------>

    <div id="pre-loader">
        <div id="loader-logo">
            loading ...
            <div class="loading-page">

            </div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>



 
    <!----------Counter All------------> 

<div class="counter-Page flex py-4"> 
    <!----------sideMenu------------>
    <app-slide-menu [currentTab]="'Reciption'"></app-slide-menu>
    <!----------sideMenu------------>
    <div class="contents">
        <app-topbar></app-topbar>


            <div class="container-fluid">
                
                

                <div class="row mt-8"> 

                    <div class="searchUserID"> 


                        <h1> Check Player - Add phone Number</h1>



                        <form>



                            <div class="find-user"> 


                                <input type="text" class="" id="userIDno" placeholder="+974 | xxx xxx xxx " value="" required="">

                                <span class="resultUser regitered"> <a href="#" data-bs-toggle="modal" data-bs-target="#createUser"> New Player  </a>  </span>

                                <div class="loadingIcon postion1">
                                  
                                  
                                </div>

                            </div>




                        </form>


                    </div>

                   
 

                </div>







                <div class="row mt-8 ">
    
                    <div class="col-xxl-8 col-xl-12"> 
                        <span class="titlebox  mr-auto">  Shooting Lane Availability   </span> 


                        <div class="forms  mr-t-6 views"> 

                       
                            
                            <div class="row g-3">
                                   
                                 
                                <div class="topStage"> 
                                    Shooting Lane Availability
    
                                </div>
    
                                <div class="select-stage ">
    
    
                                    <ul> 
    
                                        <li>
                                        
                                            <span class="waitNo"> 15.. </span>
    
                                            <span class="boxStage notAvilable"> 1  </span>
        
                                        
                                        </li>
                                        <li> 
                                            
                                            <span class="waitNo"> 15.. </span>
    
                                            <span class="boxStage notAvilable"> 2 </span>
    
    
    
                                        </li>
                                        <li>  
                                            
                                            <span class="waitNo"> 30.. </span>
    
                                            <span class="boxStage notAvilable"> 3  </span>
                                        
                                        </li>
                                      
                                        
                                        <li>  
                                            
                                            <span class="waitNo"> 0 </span>
    
                                            <span class="boxStage your selected">4  </span>
                                        
                                        </li>
    
                                        <li>  
                                            
                                            <span class="waitNo"> Avilable </span>
    
                                            <span class="boxStage itsAvilable"> 5  </span>
                                        
                                        </li>
    
    
    
                                    </ul>
    
    
    
                                </div>
    
                                <div class="legendStage"> 
    
    
                                    <ul> 
    
                                        <li class="avilablenote">   Avilable </li>
                                        <li class="notAvilable">   not Avilable </li>
                                        <li class="yourselected">   your Select </li>
                                     
    
    
                                    </ul>
    
    
    
                                </div>
    
                                   
    
                            </div>
    
    
                    </div>



                    </div>
    
                    <div class="col-xxl-4 col-xl-12"> 
                        
                        <span class="titlebox">  Players by today </span>   



                        <div class="scrolluser"> 


                        <div class="mt-2 ">
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Robert De Niro</div>
                                        <div class="text-slate-500 text-xs mt-0.5">17 January 2021</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Kate Winslet</div>
                                        <div class="text-slate-500 text-xs mt-0.5">23 November 2022</div>
                                    </div>
                                    <div class="text-InGame">in Game</div>
                                </div>
                            </div>
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Angelina Jolie</div>
                                        <div class="text-slate-500 text-xs mt-0.5">11 February 2022</div>
                                    </div>
                                    <div class="text-InGame">in Game</div>
                                </div>
                            </div>
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Arnold Schwarzenegger</div>
                                        <div class="text-slate-500 text-xs mt-0.5">24 November 2021</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Brad Pitt</div>
                                        <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>

                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Arnold Schwarzenegger</div>
                                        <div class="text-slate-500 text-xs mt-0.5">24 November 2021</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>
                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Brad Pitt</div>
                                        <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>

                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Brad Pitt</div>
                                        <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>

                            <div class="intro-x">
                                <div class="box px-3 py-3 mb-3 flex items-center zoom-in">
                                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                                        <img alt="SG" src="assets/img/profile-8.jpg">
                                    </div>
                                    <div class="ml-4 mr-auto">
                                        <div class="font-medium">Brad Pitt</div>
                                        <div class="text-slate-500 text-xs mt-0.5">29 June 2022</div>
                                    </div>
                                    <div class="text-Waiting">Waiting</div>
                                </div>
                            </div>
                        </div>


                    </div>
                    
                    
                    
                    
                    </div>


                    


                    </div>
             


            </div>


        </div>

</div>
    
  
    <!---------topPOPUPS-setting----------->

 









<!--------Popups create Users------------>



<div class="modal fade boxUser" id="createUser" tabindex="-1" aria-labelledby="createUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered   modal-xl">
        <div class="modal-content darks">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserLabel"> <i class="tiketsIcon"></i>  Create New Ticket <span class="smallTitle"> for new Player Not Registered </span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="row"> 


                    <div class="col-xxl-8 col-xl-8">  
                        
                        <span class="titlebox  mr-auto">  Create New Users Profile  </span> 



                        <div class="forms"> 

                           
                                
                                <div class="row g-3">
                                        <div class="col-sm-3 pd-r-1">
                                            <label for="NamePlayer" class="form-label"> Name of Player</label>
                                            <input type="text" class="form-control" id="NamePlayer" placeholder="Name of Player" value="" required="">
                                            <div class="invalid-feedback">
                                            Valid   name of player is required.
                                            </div>
                                        </div>


                                        <div class="col-sm-3 pd-r-1">
                                            <label for="Nationality" class="form-label">Nationality</label>
                                            <input type="text" class="form-control" id="Nationality" placeholder="Nationality" value="" required="">
                                            <div class="invalid-feedback">
                                           Nationality
                                            </div>
                                        </div>



                                        <div class="col-sm-4 pd-r-1">
                                            <label for="MobNum" class="form-label">Mobile Numer</label>


                                            <div class="input-group 3">
                                                <span class="input-group-text flags" id="qatariMobile"></span>
                                                <input type="text" class="form-control" placeholder="66-XXXXXXXXXXX" aria-label="qatariMobile" aria-describedby="basic-addon1">
                                              </div>

                                              <div class="invalid-feedback">
                                                Valid Mobile Numer is required.
                                                </div>


                                           
                                        </div>

                                        <div class="col-sm-2  ">
                                            <label for="firstName" class="form-label">Age</label>
                                            <input type="text" class="form-control" id="firstName" placeholder="Above 21 " value="" required="">
                                            <div class="invalid-feedback">
                                            Valid Age is required.
                                            </div>
                                        </div>

                                </div>
 

                        </div>


                        <span class="titlebox  mr-auto mr-t-6">  Ticket details </span> 

                        <div class="forms  mr-t-6"> 

                           
                                
                            <div class="row g-3">
                                    <div class="col-sm-4 pd-r-1">
                                        <label for="NamePlayer" class="form-label"> Game type</label>

                                        <ul class="flex g-3"> 
                                        <li class="mr-r-6">
                                            <input id="r1" type="radio" name="radio" value="1" checked>
                                            <label for="r1">Normal    </label>
                                          </li>
                                          <li class="mr-r-6">
                                            <input id="r2" type="radio" name="radio" value="2">
                                            <label for="r2">Special</label>
                                          </li>
                                          <li class="mr-r-6">
                                            <input id="r3" type="radio" name="radio" value="3" >
                                            <label for="r3">Competition</label>
                                          </li>

                                          </ul>
                                    </div>
                   


                                    <div class="col-sm-5 pd-r-1">
                                        <label for="Nationality" class="form-label">Level of Player </label>

                                        <ul class="flex g-3"> 
                                            <li class="mr-r-6">
                                                <input id="r11" type="radio" name="radio2" value="1" checked>
                                                <label for="r11">Beginner      </label>
                                              </li>
                                              <li class="mr-r-6">
                                                <input id="r22" type="radio" name="radio2" value="2">
                                                <label for="r22">Intermediate</label>
                                              </li>
                                              <li class="mr-r-6">
                                                <input id="r33" type="radio" name="radio2" value="3" >
                                                <label for="r33">Professional</label>
                                              </li>
    
                                              </ul>


                                       
                                    </div>



                                    <div class="col-sm-3 pd-r-1">
                                        <label for="MobNum" class="form-label">Session Time</label>


                                        <ul class="flex g-3"> 
                                        <li class="mr-r-6">
                                            <input id="r111" type="radio" name="radio3" value="1" checked>
                                            <label for="r111">30 m     </label>
                                          </li>
                                          <li class="mr-r-6">
                                            <input id="r222" type="radio" name="radio3" value="2">
                                            <label for="r222">45 m</label>
                                          </li>
                                          <li class="mr-r-6">
                                            <input id="r333" type="radio" name="radio3" value="3" >
                                            <label for="r333">60 m</label>
                                          </li>

                                          </ul>

                                         


                                       
                                    </div>

                                   

                            </div>


                    </div>




                    <span class="titlebox  mr-auto mr-t-6">  Shooting Lane Availability </span> 

                    <div class="forms  mr-t-6"> 

                       
                            
                        <div class="row g-3">
                              


                             
                            <div class="topStage"> 
                                Shooting Lane Availability

                            </div>

                            <div class="select-stage">


                                <ul> 

                                    <li>
                                    
                                        <span class="waitNo"> 15.. </span>

                                        <span class="boxStage notAvilable"> 1  </span>


                                    
                                    
                                    
                                    
                                    
                                    </li>
                                    <li> 
                                        
                                        <span class="waitNo"> 15.. </span>

                                        <span class="boxStage notAvilable"> 2 </span>



                                    </li>
                                    <li>  
                                        
                                        <span class="waitNo"> 30.. </span>

                                        <span class="boxStage notAvilable"> 3  </span>
                                    
                                    </li>
                                  
                                    
                                    <li>  
                                        
                                        <span class="waitNo"> 0 </span>

                                        <span class="boxStage your selected">4  </span>
                                    
                                    </li>

                                    <li>  
                                        
                                        <span class="waitNo"> Avilable </span>

                                        <span class="boxStage itsAvilable"> 5  </span>
                                    
                                    </li>



                                </ul>



                            </div>

                            <div class="legendStage"> 


                                <ul> 

                                    <li class="avilablenote">   Avilable </li>
                                    <li class="notAvilable">   not Avilable </li>
                                    <li class="yourselected">   your Select </li>
                                 


                                </ul>



                            </div>

                               

                        </div>


                </div>





                    </div>
                    <div class="ccol-xxl-4 col-xl-4">  





                        <div class="profiles">


                            <canvas id="canvas" class="attachedPhoto">
                            </canvas>

                            <span> Name Of Player  </span>


                        </div>
                        
                    
                       
                    
                    <div class="takePhoto">

                      
                         
                            <div class="cams">
                               
                              <video id="camera-stream" class="cam-run"></video> 
                            </div>






                            <div class="controlsCam">
                              <button disabled id="flip-btn" class="flipphotos">
                                Flip Camera
                              </button>
                              <button id="capture-camera" class="takePhotos">
                                Take photo
                              </button>
                            </div>
                             
                          



                    </div>





                    <div class="takePhoto mr-t-6">

                                            
                        <div class="file-container">
                        <div class="file-wrapper">
                            <input class="file-input" id="js-file-input" type="file"/>
                            <div class="file-content">
                            <div class="file-infos">
                             </div>
                            <p class="file-name" id="js-file-name">No file selected</p>
                            </div>
                        </div>
                        </div>
                         
                          

                </div>
                    
                     
                    
                    </div>



                </div>








            </div>
            <div class="modal-footer">
                <button type="button" class=" btn-cancel" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class=" btn-generate">Generate Ticket</button>
            </div>
    </div>
    </div>
    </div>






        <!-----script---->

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/lib/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/lib/slim/prettify.js "></script>
        <script src="assets/lib/slim/jquery.slimscroll.min.js"></script>
     
        <script src="assets/js/main.js"></script>



<script>


    // camera stream video element
  let on_stream_video = document.querySelector('#camera-stream');
  // flip button element
  let flipBtn = document.querySelector('#flip-btn');

  // default user media options
  let constraints = { audio: false, video: true }
  let shouldFaceUser = true;

  // check whether we can use facingMode
  let supports = navigator.mediaDevices.getSupportedConstraints();
  if( supports['facingMode'] === true ) {
    flipBtn.disabled = false;
  }

  let stream = null;

  function capture() {
    constraints.video = {
        width: {
        min: 192,
        ideal: 192,
        max: 192,
      },
      height: {
        min: 192,
        ideal: 192,
        max: 192
      },
      facingMode: shouldFaceUser ? 'user' : 'environment'
    }
    navigator.mediaDevices.getUserMedia(constraints)
      .then(function(mediaStream) {
        stream  = mediaStream;
        on_stream_video.srcObject = stream;
        on_stream_video.play();
      })
      .catch(function(err) {
        console.log(err)
      });
  }

  flipBtn.addEventListener('click', function(){
    if( stream == null ) return
    // we need to flip, stop everything
    stream.getTracks().forEach(t => {
      t.stop();
    });
    // toggle / flip
    shouldFaceUser = !shouldFaceUser;
    capture();
  })

  capture();

  document.getElementById("capture-camera").addEventListener("click", function() {
    // Elements for taking the snapshot
      const video = document.querySelector('video');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d').drawImage(video, 0, 0);
  });



</script>


<script>


(function () {
   
   window.supportDrag = function() {
      let div = document.createElement('div');
      return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
   }();
   
   let input =  document.getElementById('js-file-input');
   
   if(!supportDrag){
      document.querySelectorAll('.has-drag')[0].classList.remove('has-drag');
   }
   
   input.addEventListener("change", function(e){      
      document.getElementById('js-file-name').innerHTML = this.files[0].name;     
      document.querySelectorAll('.file-input')[0].classList.remove('file-input--active');
   }, false);
   
   if(supportDrag){   
      input.addEventListener("dragenter", function(e) {
         document.querySelectorAll('.file-input')[0].classList.add('file-input--active');
      });

      input.addEventListener("dragleave", function(e) {
         document.querySelectorAll('.file-input')[0].classList.remove('file-input--active');
      });
   }
   
})();


</script>