<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shouter Gun">
    <meta name="keywords" content="Shouter Gun ">
    <meta name="author" content="Axon-bs">
    <title>:: Shouter Gun ::</title>
    <!--fav------>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!------css--------->
    <link href="/assets/css/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/helper.css" rel="stylesheet">
    <link href="/assets/css/screen.css" rel="stylesheet">

</head>

<body *ngIf="isReady">
    <!----------screen All------------>
    <div *ngIf="isActiveTicket">
        <div class="topuser">
            <div class="row g-3 d-flex">
                <div class="col-4">
                    <div class="userphoto">
                        <img [src]="player.Photo" onerror="this.onerror=null; this.src='assets/img/profile-8.jpg'" class="profilesPhoto"> 
                    </div>
                    <span class="infoplayer">
                        {{player.Name}}
                        <br>
                        {{playerNationality}}
                    </span>
                </div>
                <div class="col-7">
                    <ul class="info-game">

                        <li class="custom-btn status Waiting" *ngIf="ticket.State==0" (click)="UpdateTicketState()">
                            <div class="frames"> {{ticket.DisplayedState}} </div>
                        </li>
                        <li class="status inGame" *ngIf="ticket.State==1">
                            <div class="frames"> {{ticket.DisplayedState}} </div>
                        </li>
                        <li class="status paused" *ngIf="ticket.State==6">
                            <div class="frames"> {{ticket.DisplayedState}} </div>
                        </li>
                        <li [ngClass]="isEnter?'status inGame clickable':'custom-btn status in-ready'"
                            (mouseenter)="enter()" (mouseleave)="leave()" *ngIf="ticket.State==4"
                            (click)="UpdateTicketState()">
                            <div class="frames change-btn"> {{isEnter?'Click to Start' :ticket.DisplayedState}} </div>
                        </li>
                        <li class="timedown timesicon">
                            <div class="frames blink" *ngIf="currentTicket.GameTypeId != 3"> <span [ngClass]="isTimerStarted?'countdown':''">{{countdown}} </span></div>
                        </li>
                        <li class="gametype">
                            <div class="frames"> {{playerLevel}} <br> {{gameType}}</div>
                        </li>
                        <!--- USE CLASS NAME FOR CHANGE STATUS AND GAME TYPE -->
                    </ul>
                </div>
                <div class="col-1">
                    <img class="logo" src="/assets/img/logo.svg">
                </div>
            </div>
        </div>
        <div class="counter-screen">
            <div class="grids">
                <div class="box gamesType">
                    <ul>
                        <li [ngClass]="currentTicket.GameTypeId == 1 ?'selected':''"> <img src="/assets/img/normal.svg">
                            Normal </li>
                        <li [ngClass]="currentTicket.GameTypeId == 2 ?'selected':''"> <img
                                src="/assets/img/special-session.svg"> Special session </li>
                        <li [ngClass]="currentTicket.GameTypeId == 3 ?'selected':''"> <img
                                src="/assets/img/competition.svg"> Competition </li>
                    </ul>
                </div>
                <div class="box nameS"> {{player.Name}} </div>
                <div class="box levels">
                    <ul>
                        <li *ngFor="let level of PlayerLevels; let i = index" (click)="UpdateLevel(level.ID)" [ngClass]="{'selected custom-box': currentTicket.State==1 && currentTicket.PlayerLevelId == level.ID , 'custom-box': currentTicket.State==1 && currentTicket.PlayerLevelId != level.ID, 'selected':  currentTicket.PlayerLevelId == level.ID}">
                            <img [src]="level.Image">
                            {{level.Name}}
                        </li>
                    </ul>
                </div>
                <div class="box sessionsType">
                    <ul>
                        <li [ngClass]="currentTicket.SessionTimeId == 1 ?'selected':''"> <img
                                src="/assets/img/watch-blue.svg"> 30 min </li>
                        <li [ngClass]="currentTicket.SessionTimeId == 2 ?'selected':''"> <img
                                src="/assets/img/watch-blue.svg"> 45 min </li>
                        <li [ngClass]="currentTicket.SessionTimeId == 3 ?'selected':''"> <img
                                src="/assets/img/watch-blue.svg"> 60 min </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-3" *ngIf="ticket.State==1">
                        <button class="custom-finish-btn" mat-raised-button (click)="FinishTicket()">Finish</button>
                    </div>
                    <div class="col-3" *ngIf="ticket.State==1">
                        <button class="custom-pause-btn" mat-raised-button (click)="Pause()">Pause</button>
                    </div>
                    <div class="col-3" *ngIf="ticket.State==6">
                        <button class="custom-resume-btn" mat-raised-button (click)="Resume()">Resume</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isActiveTicket">
        <div class="logos">
            No Ticket
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <script src="/assets/js/jquery-3.2.1.min.js"> </script>
    <script src="/assets/css/bootstrap-5.2.1-dist/js/bootstrap.min.js"> </script>
</body>

</html>