<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shouter Gun">
    <meta name="keywords" content="Shouter Gun ">
    <meta name="author" content="Axon-bs">
    <title>:: Shouter Gun ::</title>
    <!--fav------>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!------css--------->
    <link href="/assets/css/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/helper.css" rel="stylesheet">
    <link href="/assets/css/screen.css" rel="stylesheet">

</head>

<body>
    <!----------screen All------------>
    <div class="topuser">
        <div class="row g-3 d-flex">
            <div class="col-4">
                <div class="userphoto">
                    <img src="/assets/img/user.png" alt="userPhoto">
                </div>
                <span class="infoplayer">
                    Alice Jelly
                    <br>
                    UK-22
                </span>
            </div>
            <div class="col-7">
                <ul class="info-game">
                    <li class="status inGame">
                        <div class="frames"> in Game </div>
                    </li>
                    <li class="timedown timesicon">
                        <div class="frames"> 45.. left </div>
                    </li>
                    <li class="gametype intermediate">
                        <div class="frames"> Intermediate <br> Special sessions</div>
                    </li>
                    <!--- USE CLASS NAME FOR CHANGE STATUS AND GAME TYPE
               intermediate ---- begnner ----professional 
                ------->
                </ul>
            </div>
            <div class="col-1">
                <img class="logo" src="/assets/img/logo.svg">
            </div>
        </div>
    </div>
    <div class="counter-screen">
        <div class="grids">
            <div class="box gamesType">
                <ul>
                    <li> <img src="/assets/img/normal.svg"> Normal </li>
                    <li class="selected"> <img src="/assets/img/special-session.svg"> Special session </li>
                    <li> <img src="/assets/img/competition.svg"> Professional </li>
                </ul>
            </div>
            <div class="box nameS"> Alice Jelly </div>
            <div class="box levels">
                <ul>
                    <li> <img src="/assets/img/pyallow.svg"> Begnner </li>
                    <li class="selected"> <img src="/assets/img/pblue.svg"> Intermediate </li>
                    <li> <img src="/assets/img/pgreen.svg"> Professional </li>
                </ul>
            </div>
            <div class="box sessionsType">
                <ul>
                    <li> <img src="/assets/img/watch-blue.svg"> 30 min </li>
                    <li class="selected"> <img src="/assets/img/watch-blue.svg"> 45 min </li>
                    <li> <img src="/assets/img/watch-blue.svg"> 60 min </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery-3.2.1.min.js"> </script>
    <script src="/assets/css/bootstrap-5.2.1-dist/js/bootstrap.min.js"> </script>
</body>

</html>