.logos {
    display: block;
    position: relative;
    left: 0px;
    top: 27vh;
    width: 100%;
    height: 39vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/logo.svg);
    z-index: 1051;
    background-size: 160px;
    opacity: 0.8;
    /* mix-blend-mode: lighten; */
    color: #bbcadb;
    text-align: center;
    padding-top: 27vh;
    font-size: 14px;
}

.custom-btn{
    cursor: pointer;
}