<div class="intro-y col-span-12 flex flex-nowrap items-center">
  <nav class="w-full mr-auto">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="firstPage()" > <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" icon-name="chevrons-left" class="lucide lucide-chevrons-left w-4 h-4"
            data-lucide="chevrons-left">
            <polyline points="11 17 6 12 11 7"></polyline>
            <polyline points="18 17 13 12 18 7"></polyline>
          </svg> </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="previousPage()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" icon-name="chevron-left" class="lucide lucide-chevron-left w-4 h-4"
            data-lucide="chevron-left">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg> </a>
      </li>
      <li class="page-item" *ngFor="let pageNumber of pageNumbers" [class.active]="pageNumber === currentPage">
        <a (click)="changePage(pageNumber)" class="page-link">{{ pageNumber }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="nextPage()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" icon-name="chevron-right" class="lucide lucide-chevron-right w-4 h-4"
            data-lucide="chevron-right">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg> </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="lastPage()" > <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" icon-name="chevrons-right" class="lucide lucide-chevrons-right w-4 h-4"
            data-lucide="chevrons-right">
            <polyline points="13 17 18 12 13 7"></polyline>
            <polyline points="6 17 11 12 6 7"></polyline>
          </svg> </a>
      </li>
    </ul>
  </nav>
  <select class="w-20 form-select box mt-0" style="width: fit-content;" (change)="onItemPerPageChange($event.target)" [value]="itemsPerPage">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
  </select>
</div>