<div class="videos">
  <video src="/assets/bg.mp4" loop autoplay></video>
</div>
<div class="login-container">
  <div class="logos">
  </div>
  <form action="" class="form-login" form [formGroup]="loginForm">
    <label for="login-input-user" class="login__label">
      Username
    </label>
    <input id="login-input-user" class="login__input" type="text" formControlName="Username" />
    <label for="login-input-password" class="login__label">
      Password
    </label>
    <input id="login-input-password" class="login__input" type="password" formControlName="Password" />
    <!-- <label for="login-sign-up" class="login__label--checkbox">
      <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
      Keep me Signed in
    </label> -->
    <button (click)="onLogin()" class="login__submit">Sign in</button>
    <!-- <button (click)="CreateAccount()" class="login__submit">Create Account</button> -->
  </form>
  <!-- <a href="#" class="login__forgot">Forgot Password?</a> -->
</div>