.custom-input {
    padding: 10px;
}

.create-level-form{
    padding: 20px;
    background-color: rgb(var(--color-slate-100) / var(--tw-bg-opacity));
}
.dialog-title{
    padding: 10px;
    color: #4a5a8b;
    font-size: 20px;
    font-weight: bold;
}

.custom-btn{
    background-color: #4a5a8b;
    color: white;
    width: 200px;
    height: 40px;
}