.custom-column {
    float: left;
    width: 20%;
    /* 100% divided by 5 columns */
    box-sizing: border-box;
    /* Include padding and border in the width */
    padding: 0 15px;
    /* Adjust padding as needed */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.mat-select{
    border: 1px solid #a0b2c4;
    border-radius: 5px;
    height: 37px;
    padding: 8px 12px;
    text-align: center;
    box-shadow: 0px 0px 6px rgb(160 178 196) inset;
    min-width: 50px;
    width: 42%;
}

.custom-full-height{
    height: 100%;
}