<!-- level-matrix.component.html -->


<div class="box p-3" *ngIf="isReady">
    <form [formGroup]="skeetForm">
        <div class="row">
            <div class="col-10"><span class="titlebox extrafonts"> {{typeName}} </span></div>
            <div class="col-2 end">
                <button mat-mini-fab  class="custom-btn" (click)="DeleteConfig()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <br>
        <div class="skeet-play">
            <div class="row">
                <div class="row mb-1">
                    <label for="timePerShot" class="col-sm-8 col-form-label">Time per shot</label>
                    <div class="col-sm-4">
                        <div class="d-flex">
                            <span class="timer icons"> </span>
                            <input class="form-control mb-1 custom-select" placeholder="" formControlName="timePerShot"
                                type="number">
                            <span class="shotsValus"> shot/s </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-b">
                <div class="row mb-1">
                    <label for="timeToRefill" class="col-sm-8 col-form-label">Time between after 2 shots (to
                        refill the bullets)</label>
                    <div class="col-sm-4">
                        <div class="d-flex">
                            <span class="timer icons"> </span>
                            <input class="form-control mb-1 custom-select" placeholder="" formControlName="timeToRefill"
                                type="number">
                            <span class="shotsValus"> shot/s </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skeeter-cong">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex headshot">
                            <span class="skeetIcon"> Skeet No. </span>
                        </div>
                    </div>
                </div>
                <div formArrayName="skeets">
                    <div *ngFor="let control of skeetsArray.controls; let i = index" class="row">
                        <div class="col-12">
                            <div class="d-flex" [formGroupName]="i">
                                <mat-select placeholder="Nothing selected" formControlName="skeetID" multiple>
                                    <mat-option *ngFor="let option of skeetOptions"
                                        [disabled]="skeetsArray.value[i].skeetID.length > (getTotalClays()%2) && !skeetsArray.value[i].skeetID.includes(option.ID)"
                                        [value]="option.ID">{{option.Name}}</mat-option>
                                </mat-select>
                                <ng-container *ngIf="i === 0">
                                    <a class="addMore" (click)="addSkeet()"> Add Skeet </a>
                                </ng-container>
                                <ng-container *ngIf="i !== 0">
                                    <a class="removeitems" (click)="removeSkeet(i)"> Remove </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total-skeet">
                Total <span class="valuesNo">{{ getTotalClays() }}</span> shots with <span class="valuesNo">{{
                    getTotalClays() }}</span> clays
            </div>
        </div>
        <button (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
    </form>
</div>