<div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"> Application</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
        </ol>
    </nav>
    <div class="intro-x relative sm-6">
        <div class="search   sm:block">
            <input type="text" class="search__input form-control border-transparent"
                placeholder="Search...">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                icon-name="search" data-lucide="search"
                class="lucide lucide-search search__icon dark:text-slate-500">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </div>
        <div class="search-result">
            <div class="search-result__content">
                <div class="search-result__content__title">Users</div>
                <div class="mb-5">
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="SG" class="rounded-full" src="assets/img/profile-8.jpg">
                        </div>
                        <div class="ml-3">Kevin Spacey</div>
                        <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">
                            kevinspacey@left4code.com</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="SG" class="rounded-full" src="assets/img/profile-8.jpg">
                        </div>
                        <div class="ml-3">Johnny Depp</div>
                        <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">
                            johnnydepp@left4code.com</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN: Notifications -->
    <div class="intro-x dropdown  w-6 h-8 sm-6">
        <div class="btn-group">
            <a class=" btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="far fa-bell"></i>
            </a>
            <ul class="dropdown-menu notificationBTN">
                <li> <span class="notification-succsess"> <i class="far fa-check-circle"></i> 30 User in
                        Queue </span> </li>
                <li> <span class="notification-info"> <i class="far fa-times-circle"></i> No avilable Stage
                    </span> </li>
                <li> <span class="notification-Error"> <i class="far fa-times-circle"></i> System Down
                    </span> </li>
            </ul>
        </div>
    </div>
    <!-- END: Notifications -->
    <div class="intro-x dropdown w-8 h-8 sm-6">
        <div class="btn-group">
            <a class="userProfile btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="assets/img/profile-8.jpg">
            </a>
            <ul class="dropdown-menu">
                <li> <a href="#"> Profile </a> </li>
                <li> <a (click)="navigate('/settings')"> Setting</a> </li>
                <li> <a href="#"> LogOut </a></li>
            </ul>
        </div>
    </div>
</div>