 <div class="top-bar">
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" *ngFor="let item of breadcrumb; let last = last">
            <a *ngIf="!last" >{{ item }}</a>
            <span class="active" *ngIf="last">{{ item }}</span>
          </li>
        </ol>
      </nav>
      
    <div class="intro-x dropdown w-8 h-8 sm-6">
        <div class="btn-group">
            <a class="userProfile btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="true">
                <img src="assets/img/profile-8.jpg">
            </a>
            <ul class="dropdown-menu">
                <li> <a (click)="navigate('/home')"> Home </a> </li>
                <li> <a (click)="LogOut()"> Logout </a></li>
            </ul>
        </div>
    </div>
</div>