<form action="" class="create-user-form" [formGroup]="userForm" *ngIf="isReady">

    <div class="row">
        <p class="dialog-title">
            Set Password
        </p>
    </div>
    <div class="row">
        <mat-form-field class="custom-input">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="custom-input">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="ConfirmPassword">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <button (click)="SetPassword()" class="custom-btn">Set Password</button>
</form>