.nationality-select {
    padding: 7px 10px;
}

.error-hint {
    color: red;
    font-size: 12px;
    padding: 0px 10px;
}

.btn-cancel {
    margin: 5px;
}

.btn-generate {
    margin: 5px;
}

.file-name {
    justify-content: center;
    display: flex;
}