<div class="row mb-5" *ngIf="isReady">
    <div class="col-xxl-3 col-lg-3 col-md-3">

        <div class="report-box zoom-in">
            <div class="box p-3">
                <div class="values ">{{numberOfTodayTickets}}</div>
                <div class="titleSummary">Total of Tickets</div>
                <div class="iconSummary numOFTicket"> </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-lg-3 col-md-3">

        <div class="report-box zoom-in">
            <div class="box p-3">
                <div class="values">{{numberOfUsedTicket}}</div>
                <div class="titleSummary">Used Tickets </div>
                <div class="iconSummary numOFTicketused"> </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-lg-3 col-md-3">

        <div class="report-box zoom-in">
            <div class="box p-3">
                <div class="values ">{{numberOfUnusedTicket}}</div>
                <div class="titleSummary">Unused ticket</div>
                <div class="iconSummary numOFTicketunsed"> </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-lg-3 col-md-3">

        <div class="report-box zoom-in">
            <div class="box p-3">
                <div class="values ">{{numberOfTotalTickets}} </div>
                <div class="titleSummary">Total Ticket Sales </div>
                <div class="iconSummary numOFTicketsales"> </div>
            </div>
        </div>
    </div>





</div>