<table class="table table-report sm:mt-2" *ngIf="isReady">
    <thead>
        <tr>
            <th class="whitespace-nowrap">Photo </th>
            <th class="whitespace-nowrap">Player Name </th>
            <th class="text-center whitespace-nowrap">Type of user </th>
            <th class="text-center whitespace-nowrap">Date Time </th>
            <th class="text-center whitespace-nowrap">Status</th>
            <th class="text-center whitespace-nowrap">Level </th>
            <th class="text-center whitespace-nowrap">Ticket Type </th>
            <th class="text-center whitespace-nowrap">Actino</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let player of players">
            <tr class="intro-x">
                <td class="w-40">
                    <div class="flex">
                        <div class="w-10 h-10 image-fit zoom-in">
                            <img alt="SG" class=" rounded-full" [src]="player.Photo!= null ? player.Photo : myImgUrl">
                        </div>
                    </div>
                </td>
                <td>
                    {{player.Name}}
                </td>
                <td class="text-center">{{ player.DisplayedUserType}} </td>
                <td class="text-center"> {{player.DisplayedDateTime}} </td>
                <td class="text-center">
                    <span *ngIf="player.State==0" class="text-Waiting">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==1" class="text-InGame">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==2" class="planned">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==3" class="finished">{{player.DisplayedState}}</span>

                </td>
                <td class="text-center">
                    <span *ngIf="player.PlayerLevel=='Professional'" class="professional"> {{player.PlayerLevel}} </span>
                    <span *ngIf="player.PlayerLevel=='Beginner'" class="beginner"> {{player.PlayerLevel}} </span>
                    <span *ngIf="player.PlayerLevel=='Intermediate'" class="intermediate"> {{player.PlayerLevel}} </span>
                </td>
                <td class="text-center"> {{player.DisplayedTicketType}} </td>
                <td class="text-center"> <button href="#" class="profileIcons" (click)="selectItem(player.TicketId)"> </button></td>
            </tr>
        </ng-container>
    </tbody>
</table>