<table class="table table-report sm:mt-2" *ngIf="isReady">
    <thead>
        <tr>
            <th class="whitespace-nowrap">Photo </th>
            <th class="whitespace-nowrap">Player Name </th>
            <th class="whitespace-nowrap">Lane </th>
            <th class="text-center whitespace-nowrap">Type of user </th>
            <th class="text-center whitespace-nowrap">Date Time </th>
            <th class="text-center whitespace-nowrap">Status</th>
            <th class="text-center whitespace-nowrap">Level </th>
            <th class="text-center whitespace-nowrap">Ticket Type </th>
            <th class="text-center whitespace-nowrap">Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let player of players">
            <tr class="intro-x">
                <td class="w-40">
                    <div class="flex">
                        <div class="w-10 h-10 image-fit zoom-in">
                            <img onerror="this.onerror=null; this.src='/assets/img/profile-8.jpg'" alt=""
                                class=" rounded-full" [src]="player.Photo!= null ? player.Photo : myImgUrl">
                        </div>
                    </div>
                </td>
                <td>
                    {{player.Name}}
                </td>
                <td>
                    {{player.LaneNumber}}
                </td>
                <td class="text-center">{{ player.DisplayedUserType}} </td>
                <td class="text-center"> {{player.DisplayedDateTime | date:'dd/MM/yyyy hh:mm a'}} </td>
                <td class="text-center">
                    <span *ngIf="player.State==0" class="text-Waiting"
                        (click)="allocatePlayer(player)">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==1" class="text-InGame">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==2" class="planned"
                        (click)="allocatePlayer(player)">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==3" class="finished">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==4" class="ready">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==5" class="text-cancel">{{player.DisplayedState}}</span>
                    <span *ngIf="player.State==6" class="text-cancel">{{player.DisplayedState}}</span>


                </td>
                <td class="text-center">
                    <ng-container *ngFor="let level of PlayerLevels; let i = index">
                        <span *ngIf="player.PlayerLevel==level.Name"
                            [ngClass]="{'professional': level.Name === 'Professional' , 'intermediate': level.Name === 'Intermediate' , 'beginner': level.Name === 'Beginner'}">
                            {{player.PlayerLevel}} </span>
                    </ng-container>
                </td>
                <td class="text-center"> {{player.DisplayedTicketType}} </td>
                <td class="text-center"> <button href="#" class="profileIcons" (click)="selectItem(player)"> </button>
                </td>
            </tr>
        </ng-container>
        <ng-container>
            <tr *ngIf="players.length==0">
                <td colspan="9" class="text-center">No Data Available </td>
            </tr>
        </ng-container>
    </tbody>
</table>